<div class="jumbotron hero-body thomson">

    <div class="container">
      <img src="../../../../assets/logo.png">
    </div>
  </div>
<br>
<div class="container is-fullwidth">
  <div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      Please Select Certifield Letter choice
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" routerLink="employeecertify">
        <p>
          <strong> Employee Certify Letter</strong>
          <br>(Letter certify current employment, business title, joining date and salary) </p>
      </a>
      <a class="dropdown-item" routerLink="certifyhousing">
        <p>
          <strong>Certify Letter for Housing Loan</strong>
          <br>(Housing loan under Thomson Reuters housing loan agreement with contracted banks)
        </p>
      </a>
      <a class="dropdown-item" routerLink="certifyfurther">
        <p>
          <strong> Certify Letter for further Education</strong>
          <br>(Letter certify current employment, business title, joining date and years of service) 
        </p>
      </a>
      <a class="dropdown-item" routerLink="certifytour">
        <p>
          <strong>Certify Letter for Tourist Visa Application</strong>
          <br>(Letter certify current employment, business title, joining date, salary and travel information) </p>
      </a>
      <a class="dropdown-item" routerLink="certifyvisa">
        <p>
          <strong>Certify Letter for Business Visa Application</strong>
          <br>(Letter certify current employment, business title, joining date, salary and travel information) 
        </p>
      </a>
    </div>
  </div>
</div>
<br>
<router-outlet></router-outlet>
<app-footer-certifield></app-footer-certifield>
