<div class="jumbotron hero-body thomson">

  <div class="container">
    <img src="../../../../assets/logo.png">
  </div>
</div>
<div class="container">
    <p>
      <strong>{{type}}</strong>
    </p>
  </div>
  <br>

<div class="container-fluid">
<div class="row mb-2">
    <div class="col-md-2 size">
      <div class="card cardshadows flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <!-- <strong class="d-inline-block mb-2 text-primary">Certifield Letter</strong> --> 
          <br>
          <h3 class="mb-0">
            <a class="text-dark"routerLink="certifieldletter/employeecertify">Certifield Letter</a>
          </h3>
         <br>
          <a class="btn btn-light btn-sm" routerLink="certifieldletter/employeecertify">Get more &raquo;</a>
        </div>
      </div>
    </div>
    <div class="col-md-2 size">
      <div class="card cardshadows flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <!--  <strong class="d-inline-block mb-2 text-success">Business Trip</strong>  -->
          <br>
          <h3 class="mb-0">
            <a class="text-dark" routerLink="businesstrip">Business Trip</a>
          </h3>
          <br>
          <a class="btn btn-light btn-sm" routerLink="businesstrip">Get more &raquo;</a>
        </div>
      </div>
    </div>
    <div class="col-md-2 size">
        <div class="card cardshadows flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <!-- <strong class="d-inline-block mb-2 text-success">Loan</strong> --> 
            <br>
            <h3 class="mb-0">
              <a class="text-dark" routerLink="loan">Loan</a>
            </h3>
            <br>
            <a class="btn btn-light btn-sm" routerLink="loan">Get more &raquo;</a>
          </div>
        </div>
      </div>
       <div class="col-md-2 size">
      <div class="card cardshadows flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <!-- <strong class="d-inline-block mb-2 text-success">Holiday House</strong>  -->
          <br>
          <h3 class="mb-0">
            <a class="text-dark" routerLink="">Holiday House</a>
          </h3>
          <br>
          <a class="btn btn-light btn-sm" routerLink="">Get more &raquo;</a>
        </div>
      </div>
    </div>
    <div class="col-md-2 size">
        <div class="card cardshadows flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <!-- <strong class="d-inline-block mb-2 text-success">Exercise</strong> --> 
            <br>
            <h3 class="mb-0">
              <a class="text-dark" routerLink="">Exercise</a>
            </h3>
            <br>
            <a class="btn btn-light btn-sm" routerLink="">Get more &raquo;</a>
          </div>
        </div>
      </div>
      <div class="col-md-2 size">
          <div class="card cardshadows flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <!-- <strong class="d-inline-block mb-2 text-success">Parental Benefit</strong> -->
              <br>
              <h3 class="mb-0">
                <a class="text-dark" routerLink="">Parental Benefit</a>
              </h3>
              <br>
              <a class="btn btn-light btn-sm" routerLink="">Get more &raquo;</a>
            </div>
          </div>
        </div>
  </div>
</div>