<section class="hero ">
  <a href="https://www.thomsonreuters.com/en.html">
    <div class="hero-body thomson is-fullheight">
      <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
          <img src="../../../../assets/logo.png">
          <h2 class="subtitle">
          </h2>
        </div>
      </div>
    </div>
  </a>
</section>
<br><br>



<div class="container">
  <p>
    <strong>{{type}}</strong>
  </p>
</div>
<br>

<section class="container">
  <div class="columns features">
    <div class="column is-2 is-active">
      <a routerLink="certifieldletter">
        <div class="card">
          <div class="card-image has-text-centered">
            <i class=""></i>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Certifield Letter </h4>
                <a routerLink="certifieldletter">Get more</a>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="column is-2">
      <a routerLink="businesstrip">
        <div class="card">
          <div class="card-image has-text-centered">
            <i class=""></i>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Business Trip</h4>
                <a routerLink="businesstrip">Get more</a>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="column is-2">
      <a routerLink="loan">
        <div class="card">
          <div class="card-image has-text-centered">
            <i class=""></i>
          </div>
          <div class="card-content">
            <div class="content">
              <h4> Loan </h4>
                <a routerLink="loan">Get more</a>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="column is-2">
      <a routerLink="">
        <div class="card">
          <div class="card-image has-text-centered">
            <i class=""></i>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Holiday House</h4>
                <a routerLink="">Get more</a>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="column is-2">
      <a routerLink="">
        <div class="card">
          <div class="card-image has-text-centered">
            <i class=""></i>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Exericse</h4>
                <a routerLink="">Get more</a>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="column is-2">
      <a routerLink="">
        <div class="card">
          <div class="card-image has-text-centered">
            <i class=""></i>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Parental Benefit</h4>
                <a routerLink="">Get more</a>
            </div>
          </div>
        </div>
      </a>
    </div>
    
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>