<div class="jumbotron hero-body thomson">

  <div class="container">
    <img src="../../../../assets/logo.png">
  </div>
</div>
<div class="container">
  <p>
    <strong>{{type}}</strong>
  </p>
</div>
<br>
<div class="container-fluid">
  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <a class="text-dark" routerLink="certifieldletter/employeecertify">Certify Letter</a>
        </h5>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <a class="text-dark" routerLink="businesstrip">Business Trip</a>
        </h5>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <a class="text-dark" routerLink="loan">Loan</a>
        </h5>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <a class="text-dark" routerLink="">Holiday House Booking
              </a>
        </h5>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <a class="text-dark" routerLink="">Fitness & On-site Exercise
              </a>
        </h5>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <a class="text-dark" routerLink="">Maternity Leave & Prenatal Medical Claim
              </a>
        </h5>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
