<form [formGroup]="" enctype="multipart/form-data">
<div class="container">
  <div class="form-row">
    <div class="col">
      Given Name
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      Family Name
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      Employee ID
      <input type="text" class="form-control" placeholder="Employee ID">
    </div>
    <div class="col">
      National ID Number
      <input type="text" class="form-control" placeholder="National ID Number">
    </div>
  </div>
  <div class="control">
    Mailing Address ( in Thai Language )
    <input class="form-control" type="text" placeholder="Passport number">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity"> Request Amount (THB)</label>
      <input type="text" class="form-control" placeholder=" Request Amount (THB)" value="0">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Type of car</label>
      <select id="inputState" class="form-control">
        <option selected>First Hand Car</option>
        <option>Used Car</option>
      </select>
    </div>
  </div>
  <h5> Supporting document</h5>
  <strong>First Hand Car</strong>
  <br>
  <div class="form-group">
    <label for="">* Pre-Emption certificate</label>
    <input type="file" class="form-control-file" id="" accept="image/*" multiple="multiple" required="required">
  </div>
  <div class="form-group">
    <label for=""> * Other Docunebt , Please describe</label>
    <input type="file" class="form-control-file" id="" accept="image/*" multiple="multiple" required="required">
  </div>
  <strong> *Remark </strong> 
  <br>
  The car must be registered under your name.
  <br> All documents must be signed to certify true copy.
  <br> If you can only provide a receipt from the vendor to confirm that you have made a deposit to purchase a car when you submit
  the loan request,
  <br> you must provide a copy of the car registration to HR soonest after you have received the document. Otherwise the company
  may consider that
  <br> the request is incomplete and may cancel the loan
  <br> For more detail about Thomson Reuters loan policy, please visit
  <a href="http://">HR Website</a>
  <br> Please contact
  <a href="mailto:GrpBkkHRServices@thomsonreuters.com"> GrpBkkHRServices@thomsonreuters.com </a>if you have questions.
  <br>
  <br>
  <button type="submit">Submit</button>
</div>
</form>