<section class="hero ">
  <a href="https://www.thomsonreuters.com/en.html">
    <div class="hero-body thomson is-fullheight">
      <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
          <img src="../../../../assets/logo.png">
          <h2 class="subtitle">
          </h2>
        </div>
      </div>
    </div>
  </a>
</section>
<br>
<br>
<a routerLink="certifytour">Business Trip</a>
<br>
<a href="/certifieldletter/certifytour">Business</a>
<br>
<a href="https://reachingourpeople.com/formslibrary/#travel
">American Express Corporate Card</a>
<br>
<a href="https://reachingourpeople.com/formslibrary/#travel
">Visitor Invitation Letter</a>
<router-outlet></router-outlet>
