<div class="jumbotron hero-body thomson">

  <div class="container">
    <img src="../../../../assets/logo.png">
  </div>
</div>
<div class="container">
<div class="row">
  <div class="col-lg-4">
    <img class="rounded-circle" src="../../../assets/BusinessTrip/American.jpg" alt="Generic placeholder image" width="140" height="140">
    <br>
    <br>
    <h5>Certify Letter for Business <br>
       Visa Application</h5>
    <p><a class="btn btn-light" href="/certifieldletter/certifytour" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-lg-4">
    <img class="rounded-circle" src="../../../assets/BusinessTrip/Business Visa.png" alt="Generic placeholder image" width="140" height="140">
    <br>
    <br>
    <h5>American Express <br>
       Corporate Card</h5>
    <p><a class="btn btn-light" href="https://reachingourpeople.com/formslibrary/#travel" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-lg-4">
    <img class="rounded-circle" src="../../../assets/BusinessTrip/Vistor.png" alt="Generic placeholder image" width="140" height="140">
    <br>
    <br>
    <h5>Visitor Invitation 
     <br> Letter</h5>
    <p><a class="btn btn-light" href="https://reachingourpeople.com/formslibrary/#travel" role="button">View details &raquo;</a></p>
  </div>
</div>
<hr class="featurette-divider">
</div>
<br>
<router-outlet></router-outlet>
