<div class="jumbotron hero-body thomson">

  <div class="container">
    <img src="../../../../assets/logo.png">
  </div>
</div>
<div class="container">
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="../../../assets/BusinessTrip/Business Visa.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">
          <a class="text-dark" href="/certifieldletter/certifytour">Certify Letter for Business Visa Application</a>
        </h5>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/BusinessTrip/American.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">
          <a class="text-dark" href="https://reachingourpeople.com/formslibrary/#travel">
            American Express Corporate Card</a>
        </h5>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/BusinessTrip/Vistor.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">
          <a class="text-dark" href="https://reachingourpeople.com/formslibrary/#travel">
            Visitor Invitation Letter</a>
        </h5>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
  <hr class="featurette-divider">
  <br>
  <br>
  <router-outlet></router-outlet>
