<form [formGroup]="myForm" (ngSubmit)="submit()" enctype="multipart/form-data" class="was-validated">
  <div class="container">
  
    <div class="field">
      <div class="field-label is-small">
      </div>
      <div class="field-body">
        <div class="field -left">
          Employee ID
          <input formControlName="employeeID" class="form-control" type="text" required="required">
          <div class="invalid-feedback">Plesae Input employeeID</div>
        </div>
        <div class="field-right">
          <p class="control">
            Number of copy 
            <input type="number" class="form-control" formControlName="numberOfCopy" value="0" min="0" max="10" required="required">
          </p>
        </div>
      </div>
    </div>
    <div class="control">
      Full name as it appears in your passport :
      <input class="form-control" type="text" formControlName="firstNamePassport" placeholder="Full name" required="required">
       <div class="invalid-feedback">Example invalid custom file feedback</div>
    </div>
    <br>
    <div class="control">
      Passport Number
      <input class="form-control" type="text" placeholder="Passport number" formControlName="passportNumber" required="required">
      <br>
      <p class="control">Passport Expiry Date
        <input type="date" name="from" required="required" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" formControlName="passportExpiryDate">
      </p>
    </div>
    <div class="custom-file">
        <input type="file" class="custom-file-input" id="validatedCustomFile" (change)="onFileChange($event)" required="required">
        <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
        <div class="invalid-feedback">Example invalid custom file feedback</div>
      </div>
    <!-- Please upload a photo of your passport (1st page) :
    <input class="files" type="file" name="files" accept="image/*" required="required" (change)="onFileChange($event)">
    <br>
    <br> -->
    <div class="control">
      <div>
        Embassy for Visa Application :
        <select formControlName="embassyForVisaApplication">
          <option>Embassy for Visa Application </option>
          <option>Embassy for Visa Application 2 </option>
        </select>
        Country of Visit :
        <select formControlName="countryOfVisit">
          <option>Thailand</option>
          <option>USA</option>
          <option>England</option>
        </select>
      </div>
    </div>
    <br>
    <div class="control">
      Period of visit : From :
      <input type="date" name="from" required="required" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" formControlName="from"> to :
      <input type="date" name="to" required="required" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" formControlName="to">
    </div>
    <br>
    <label for="exampleFormControlTextarea1">
      <strong>Note</strong>
    </label>
    <textarea class="form-control" placeholder="" id="exampleFormControlTextarea1" rows="8" formControlName="note"></textarea>
    <br>
    <button type="submit">Submit</button>
  </div>
</form>
