
<form [formGroup]="myForm" (ngSubmit)="submit()">
<div class="container">
    <div class="field">
      <div class="field-label is-small">
      </div>
     <div class="field-body">
       <div class="field -left">
        <p>Employee ID</p>
        <input formControlName="employeeID" class="form-control" required="required" type="text">
       </div>
       <div class="field-right">
          <p class="control">
              Number of copy  <input class="form-control" type="number" name="" id="" value="0" min="0" max="10" formControlName="numberOfCopy" > 
          </p>
        </div>
     </div>
    </div>
    <label for="exampleFormControlTextarea1"><strong>Note</strong> </label>
        <textarea class="form-control" placeholder="ETC ..."  id="exampleFormControlTextarea1" rows="5" formControlName="note" ></textarea>
    <br>
    <button type="submit" >Submit</button>
    </div>
</form>