<form [formGroup]="myForm" (ngSubmit)="submit()" enctype="multipart/form-data">
<div class="container">
  <div class="form-row">
    <div class="col">
      Given Name
      <input formControlName="GivenName" type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      Family Name
      <input formControlName="FamilyName" type="text"  class="form-control" placeholder="Last name">
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      Employee ID
      <input formControlName="employeeID" type="text" class="form-control" placeholder="Employee ID">
    </div>
    <div class="col">
      National ID Number
      <input formControlName="NationalID" type="text" class="form-control" placeholder="National ID Number">
    </div>
  </div>
  <div class="control">
    Mailing Address ( in Thai Language )
    <input formControlName="MailAddress" class="form-control" type="text" placeholder="Passport number">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity"> Request Amount (THB)</label>
      <input formControlName="RequestAmount" type="text" class="form-control" placeholder=" Request Amount (THB)" value="0">
    </div>
  </div>        
  <div class="form-group">
      <label for="exampleFormControlTextarea1">Reason for loan request</label>
      <textarea formControlName="reasonforLoan" class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
    </div>
    <label><Strong>Supporting document</Strong></label>
    <input formControlName="DetailDocument" type="text"class="form-control"   placeholder="Please specify document description">
    <input type="file" class="form-control" name="" accept="image/*" multiple>
    <br>
    <strong> *Remark </strong>
    All documents must be signed to certify true copy.
    <br> For more detail about Thomson Reuters loan policy, please visit
    <a href="http://">HR Website </a>
    Please contact
    <a href="mailto:GrpBkkHRServices@thomsonreuters.com">GrpBkkHRServices@thomsonreuters.com</a> if you have questions.
    
    <button type="submit">Submit</button>
  </div>
</form>
  