<form [formGroup]="myForm" (ngSubmit)="submit(myForm.value)" enctype="multipart/form-data">
  <div class="container">
    <div class="field">
      <label>Employee ID</label>
      <span class="">
        <input id="float-input" formControlName="employeeID" type="text" size="30" pTooltip="Enter your Employee ID" style="margin-left:.5em"
          tooltipPosition="bottom" placeholder="Employee ID" pInputText>
        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!myForm.controls['employeeID'].valid&&myForm.controls['employeeID'].dirty">
          <i class="fa fa-close"></i>
          Employee ID is required
        </div>
        &nbsp; Number of copy &nbsp;
        <p-spinner size="1" formControlName="numberOfCopy" [min]="0" [max]="10"></p-spinner>
      </span>
    </div>
    <br>
    <div class="control">

      Full name as it appears in your passport : &nbsp;
      <input id="float-input" formControlName="firstNamePassport" placeholder="Full name" type="text" size="60" pTooltip="Enter your Fullname Passport"
        style="margin-left:.5em" tooltipPosition="bottom" pInputText>
      <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!myForm.controls['firstNamePassport'].valid&&myForm.controls['firstNamePassport'].dirty">
        <i class="fa fa-close"></i>
        Full name passport is required
      </div>
    </div>
    <br>
    <div class="control">
      Passport Number : &nbsp;
      <input id="float-input" placeholder="Passport number" formControlName="passportNumber" placeholder="Full name" type="text"
        pTooltip="Enter your Passport Number " style="margin-left:.5em" tooltipPosition="bottom" size="30" pInputText>
      <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!myForm.controls['passportNumber'].valid&&myForm.controls['passportNumber'].dirty">
        <i class="fa fa-close"></i>
        passport Number is required
      </div>
      &nbsp; Passport Expiry Date &nbsp;
      <p-calendar formControlName="passportExpiryDate" [monthNavigator]="true" placeholder="Please Select Passport Expiry Date"
        [yearNavigator]="true" yearRange="2000:2030" dateFormat="yy-mm-dd"></p-calendar>
    </div>
    <br>
    <label> Please upload a photo of your passport (1st page) </label>
    <br>
    <p-fileUpload multiple="true" mode="basic" accept="image/*" maxFileSize="1000000" (change)="onFileChange($event);"></p-fileUpload>
    <br>

    <div class="control">
      Thomson Reuters office you plan to visit :
      <p-calendar formControlName="thomsonReutersOfficeYouPlanToVisit" placeholder="Please Select Reuter you Plan Visit" [monthNavigator]="true"
        [yearNavigator]="true" yearRange="2000:2030" dateFormat="yy-mm-dd"></p-calendar>
    </div>
    <label>
      <strong>In case of visiting customer sites, please specify the company name and the country.</strong>
    </label>
    <br>
    <div class="control">
      &nbsp; Country : &nbsp;
      <p-dropdown [(ngModel)]="countrySelected" (click)="changeCountry()" name="countrySelected" [ngModelOptions]="{standalone: true}"
        placeholder="Please Select Country first choice" [options]="CountryCompany" optionLabel="country" [style]="{'width':'20%'}"
        filter="true"></p-dropdown>
      &nbsp; Company Registered Name : &nbsp;
      <p-dropdown formControlName="companyRegisteredName" [options]="companySelected" optionLabel="regiterCompany" placeholder="Select Company Registered Name"
        [style]="{'width':'50%'}" filter="true"></p-dropdown>
    </div>
    <small styles='{ color: red }' class="form-text text-muted">
      <p style="color:red;">*Please select Country first choice.</p>
    </small>
    <div class="control">
      Period of visit : From : &nbsp;
      <p-calendar formControlName="from" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" placeholder="Pedriod of visit From"
        dateFormat="yy-mm-dd"></p-calendar>
      &nbsp; To : &nbsp;
      <p-calendar formControlName="to" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" placeholder="Pedriod of visit To"
        dateFormat="yy-mm-dd"></p-calendar>
    </div>
    <br>
    <div class="control">
      Purpose of visit :
      <p-dropdown [options]="Purpose" formControlName="purposeOfVisit" placeholder="Select Purpose of Visit" optionLabel="name"></p-dropdown>
      <!-- <select formControlName="purposeOfVisit" >
        <option>Meeting</option>
        <option>Training</option>
      </select> -->
    </div>
    <label for="exampleFormControlTextarea1">
      <strong>Note</strong>
    </label>
    <textarea class="form-control" placeholder="ETC ..." id="exampleFormControlTextarea1" rows="8" formControlName="note"></textarea>
    <br>
    <button pButton type="submit" label="Submit" [disabled]="!myForm.valid"></button>
  </div>
</form>
