<br>
<form [formGroup]="myForm" (ngSubmit)="submit()" enctype="multipart/form-data">
<div class="container">
    <div class="field">
      <div class="field-label is-small">
      </div>
     <div class="field-body">
       <div class="field -left">
         Employee ID : <input formControlName="employeeID" type="text" name="" id=""> 
       </div>
       <div class="field-right">
          <p class="control">
              Number of copy : <input formControlName="numberOfCopy" type="number" name="" id="" value="0" min="0" max="10" > 
          </p>
        </div>
     </div>
    </div>
    </div>
ิ<br>
<div class="container">
<div class="control">
    Full name as it appears in your passport : <input formControlName="firstNamePassport" class="" type="text" placeholder="Full name">
  </div>
  <br>
  <div class="control">
  Passport Number <input formControlName="passportNumber" class="" type="text" required="required" placeholder="Passport number">  
   Passport Expiry Date : <input formControlName="passportExpiryDate" type="date" name="from" required="required" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"><br>
</div>
<br>
    Please upload a photo of your passport (1st page) : 
    <input type="file" name=""  accept="image/*" multiple="multiple" required="required" (change)="onFileChange($event)">
  <br>

  <div class="control">
       <div>
          Thomson Reuters office you plan to visit : 
          <select  formControlName="thomsonReutersOfficeYouPlanToVisit" >
            <option>Embassy for Visa Application </option>
            <option>Embassy for Visa Application 2 </option>
          </select>     
        </div>
        <br>
        In case of visiting customer sites, please specify the company name and the country.
        <thead></thead>
  </div>
  <br>
  <div class="control">
      Company Registered Name <input formControlName="companyRegisteredName" class="" type="text" placeholder="Company Registered Name">   
        Country :  
        <select  formControlName="country" >
          <option>Thailand</option>
          <option>USA</option>
          <option>England</option>
        </select><br>
    </div>
    <br>
  <div class="control">
      Period of visit  : From : <input formControlName="from"  type="date" name="from" required="required" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
      to : <input formControlName="to"  type="date" name="from" required="required" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
  </div>
  <br>
  <div class="control">
      Purpose of visit : 
      <select  formControlName="purposeOfVisit" >
          <option>Meeting</option>
          <option>Training</option>
          <option>more ...</option>
        </select>

  </div>
  <br>
  <div class="container">
      <strong>Note :</strong>
      <textarea formControlName="note"  class="textarea" placeholder="ETC ..."></textarea>
      <br>
      <button type="submit" onclick="window.location.reload()">Submit</button>
    </div> 
</div>
</form>