.hero-body.thomson {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../assets/newyork.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 350px;
}
.cardshadows {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
}

.cardshadows:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.size {
    padding-left: 25px;
    padding-right: 25px;
}

