<div class="jumbotron hero-body thomson">
    <div class="container">
      <img src="../../../../assets/logo.png">
    </div>
  </div>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card cardshadows">
        <div class="card-body">
          <h5 class="card-title">Car Loan
            <br> Parental Medical Care Loan
            <br> Emergency Loan</h5>
          <br>
          <a routerLink="/loanselect/carloan" class="btn btn-light btn-sm">Get more</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card cardshadows">
        <div class="card-body">
          <h5 class="card-title">Housing Loan</h5>
          <br>
          <br>
          <br>
          <a href="https://reachingourpeople.com/pay-compensation/pay/loans-tha/" class="btn btn-light btn-sm">Get more</a>
        </div>
      </div>
    </div>
  </div>
</div>
