<section class="hero ">
  <a href="https://www.thomsonreuters.com/en.html">
    <div class="hero-body thomson is-fullheight">
      <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
          <img src="../../../../assets/logo.png">
          <h2 class="subtitle">
          </h2>
        </div>
      </div>
    </div>
  </a>
</section>
<br>
<a routerLink="/loanselect">Car Loan
  Parental Medical Care Loan
  Emergency Loan
  </a>
<br>
<a href="https://reachingourpeople.com/pay-compensation/pay/loans-tha/
">Housing Loan
</a>

<section class="container">
  <div class="columns">

  </div>
</section>
<br>
<br>
<br>
<section class="container">
    <div class="columns features is-center">
      <div class="column is-half is-active">
        <a routerLink="/loanselect">
          <div class="card">
            <div class="card-image has-text-centered">
              <i class=""></i>
            </div>
            <div class="card-content">
              <div class="content">
                <h6>Car Loan <br>
                    Parental Medical Care Loan <br>
                    Emergency Loan</h6>
                  <a routerLink="/loanselect">Get more</a>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="column is-half">
        <a href="https://reachingourpeople.com/pay-compensation/pay/loans-tha/
        ">
          <div class="card">
            <div class="card-image has-text-centered">
              <i class=""></i>
            </div>
            <div class="card-content">
                <div class="content">
                  <h6>Housing Loan <br><br><br>
                  </h6>
                    <a href="https://reachingourpeople.com/pay-compensation/pay/loans-tha/
                    ">Get more</a>
                </div>
              </div>
            </div>
          </a>
        </div>
        </div>
        </section>
        <br>
        <br>
        <br>
            