<section class="hero">
  <div class="hero-head is.tr">
    <nav class="navbar is-white">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="../">
            <img src="../../../assets/Pic/logosssss.png">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item "href="https://reachingourpeople.com/
            ">
              HR Website
            </a>
            <a class="navbar-item">
              Workday
            </a>
            <a class="navbar-item" routerLink="support">
              Support
            </a>
          </div>
        </div>
      </div>
    </nav>
    </div>
</section>
