

<nav class="navbar site-headerTR sticky-top py-1 fixed-top">
    <div class="container d-flex flex-column flex-md-row justify-content-between"></div>
  </nav> 
<nav class="navbar navbar-expand-lg navbar-dark bg-tr fixed-top site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <div style="font-size:1.5em; color:white">
          <a href="/">
        <i class=" fas fa-home "></i>
      </a>  
    </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" routerLink="#">HR Website
              <span class="sr-only"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#">Workday</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"routerLink="support">Support</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

