<div class="jumbotron hero-body thomson">

  <div class="container">
    <img src="../../../../assets/logo.png">
  </div>
</div>
<br>
<div class="container">
  <article class="message">
    <div class="message-header">
      <h3>Support</h3>
    </div>
    <br>
    <div class="message-body">
      Policy and benefit detail can be found in HR Website in The Point
      <a href="http://reachingourpeople.com">http://reachingourpeople.com</a>
      <br> To content Thailand HR , please send your query to
      <a href="mailto:GrpBkkHRServices@thomsonreuters.com">GrpBkkHRServices@thomsonreuters.com</a>
    </div>
  </article>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
